.faq-section {
  background: #fff;
  padding: 100px 8%;
}

.faq-container {
  max-width: 1000px;
  margin: auto;
}

.faq-title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 70px;
  color: #111;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 18px;
}

.faq-question {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 0;

  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;

  color: #222;
}

.faq-question span:first-child {
  max-width: 90%;
}

.faq-icon {
  font-size: 1.8rem;
  transition: transform 0.35s ease;
}

.rotate {
  transform: rotate(180deg);
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all .45s ease;
}

.faq-answer.show {
  max-height: 250px;
}

.faq-answer p {
  padding-top: 15px;
  color: #555;
  line-height: 1.9;
  font-size: 1.05rem;
}

/* Hover Effect */

.faq-question:hover {
  color: #b68d5a;
}

@media (max-width:768px) {

.faq-title{
    font-size:2.8rem;
}

.faq-question{
    font-size:1rem;
}

.faq-answer p{
    font-size:.95rem;
}

}